In [1]:
import pandas as pd
import pickle
from trajectory import Dataset
from trajectory import Particle

unpickled_df = pd.read_pickle("objects/SCAN_df.pkl")  
unpickled_df.head(5)

,name,date,quantity,exposure,tracked_id,traj,VCL,VAP,VSL,LIN,STR,WOB,BeatCross,ALH,img,cluster,SCAN_clusters,SCAN_values
0,balder,01062021-25,0,0.0,1.0,"[[69, 70, 71, 71, 72, 73, 73, 74, 75, 76, 76, ...",79.959810,65.180660,60.576260,0.757584,0.929359,0.815168,30.000000,4.276645,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",0,0,0.495636
1,balder,01062021-25,0,0.0,3.0,"[[209, 208, 210, 210, 211, 212, 212, 214, 214,...",89.038410,47.606697,44.321228,0.497777,0.930987,0.534676,44.482758,3.3122602,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",0,2,0.518683
2,balder,01062021-25,0,0.0,4.0,"[[166, 166, 166, 166, 166, 166, 165, 165, 164,...",55.782050,39.061245,37.602840,0.674103,0.962664,0.700248,33.846153,2.2061138,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",4,4,0.816715
3,balder,01062021-25,0,0.0,6.0,"[[153, 152, 151, 151, 150, 149, 149, 149, 148,...",61.317635,50.661057,48.099777,0.784436,0.949443,0.826207,36.585365,3.6620018,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",0,2,0.651290
4,balder,01062021-25,0,0.0,7.0,"[[101, 100, 100, 100, 100, 92, 91, 91, 92, 91,...",92.437790,31.140326,24.251595,0.262356,0.778784,0.336879,21.600000,2.8383772,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",2,4,0.982464

In [2]:
dataset = Dataset()

for r in unpickled_df.iterrows():
    name = r[1][0]
    date = r[1][1]
    quantity = r[1][2]
    exposure = r[1][3]
    track_id = r[1][4]
    traj = r[1][5]
    VCL = r[1][6]
    VAP = r[1][7]
    VSL = r[1][8]
    LIN = r[1][9]
    STR = r[1][10]
    WOB = r[1][11]
    BeatCross = r[1][12]
    ALH = r[1][13]
    img = r[1][14]
    agglo_cluster = r[1][15]
    SCAN_cluster = r[1][16]
    SCAN_values = r[1][17]
    
    particle = Particle(name, date, quantity, exposure, track_id, 
                        traj, VCL, VAP, VSL, LIN, STR, WOB, BeatCross, 
                        ALH, img, agglo_cluster, SCAN_cluster, SCAN_values)
    dataset.add_particle(particle)

In [3]:
dataset.save()

In [4]:
dataset1 = dataset.load()

In [7]:
print(dataset1.particles[0].name)

balder